<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0s54l4ACCfRvJHfk9RXK-gpFJyBRA0ZU&sensor=false"></script>

<% content_for :scripts do %>
	<script type="text/javascript">
		$(function() {
			$('#buttonOcultar').hide();
			MapUtils.getLocation();
//			MapUtils.configMap('general_map');
		});
	</script>
<% end %>

<div class="row-fluid">
	<div class="span12">
<!--		<div id="map_filters">Bucador para el mapa... <a href="#" id="linkTest">Test</a> </div> -->
		<div id="map_filters">
			<form class="form-inline">
				<label class="control-label" for="search_location_category_id">Categoria: </label>
    			<%= select("search", "location_category_id", LocationCategory.all.collect {|p| [ p.name, p.id ] }, {:include_blank => ''}) %>
				<label class="control-label" for="search_location_type_id">Tipo: </label>
    			<%= select("search", "location_type_id", LocationType.all.collect {|p| [ p.name, p.id ] }, {:include_blank => ''}) %>
				<label class="control-label" for="inputTexto">Texto: </label>
    			<input type="text" class="input-large" id="inputTexto" placeholder="Ingrese el texto deseado">
				<label class="control-label" for="selectedKM">KM> </label>
    			<select id="selectedKM">
					<option>KM 10</option>
					<option>KM 20</option>
					<option>KM 30</option>
				</select>
				<a href="#" type="button" id="buttonBuscar" class="btn">Buscar</a>
				<a href="#" type="button" id="buttonOcultar" class="btn">Ocultar</a>
    		</form>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div id="col_left" class="span2">
		<div id="map_filters_result"></div>
	</div>
	<div  id="col_right" class="span10">
		<div id="general_map"></div>
	</div>
</div>
