<a href="#" type="button" id="buttonUbicar" class="btn" onclick="MapUtils.setSingleMarker(null, ${id}, false)"><b>id:</b>${id}</a><br>
<b>device_id:</b>${device_id}<br>
<b>latitude:</b>${latitude}<br>
<b>longitude:</b>${longitude}<br>
<hr>